.SideBar_Layout{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    padding: 0.5em ;
    /* background-color: red */
    /* padding: 0.5em 2em */
}
/* home,exlpore...textss */
.SideBar_LayoutText{ 
    margin-left: .5em
}

.SideBar_Layout:hover{
    background-color: rgb(135,206,250) ;
    border-radius: 999px;
    /* width:50%; */
    padding: 0.5em ;
    color: blue;
}