.SideBar_Layout{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    padding: 0.5em ;
    /* background-color: red */
    /* padding: 0.5em 2em */
}

.SideBar_LayoutText{ 
    margin-left: .5em
}

.SideBar_Layout:hover{
    
    border-radius: 999px;
    padding: 0.5em ;
    background-color: rgba(0,0,0,0.1);
}